__pycache__*
.claude/

/_legacy/*
/workspace/*

external/*
!external/embedding/
external/embedding/*
!external/embedding/TopoFR/
external/embedding/TopoFR/*
!/external/embedding/TopoFR/link.txt
!external/embedding/dlib/
external/embedding/dlib/*
!/external/embedding/dlib/download_dlib.py
!external/emotion/
external/emotion/*

/data/*
!/data/demographics/
/data/demographics/*
!/data/demographics/_details.txt

!/data/images/ 
/data/images/*                        
!/data/images/raw/                    
/data/images/raw/*                    
!/data/images/raw/data_tree.txt
!/data/images/raw/path.txt

test_results/*

/paper/
/tmp/